html
  body
    width: 100%
    height: 100vh
    box-sizing: border-box
    overflow: hidden
    background-color: #f9f9fc
    .scroll
      overflow-y: scroll
    .collapse.show
      margin-bottom: 10px
    .darkBlue
      color: #687393
    .lightGrey
      color: #acadb9
    h6
      color: #576280
    a
      color: inherit
      &:hover
        text-decoration: none
        color: inherit
    ::placeholder
      color: inherit
    .btn-secondary
      background-color: transparent
      border-color: transparent
      padding: 0
      display: block
      color: #687393
      margin-bottom: 28px
      &[aria-expanded="false"]
        .arrowDown
          display: none
        .arrowRight
          display: inline-block
      &[aria-expanded="true"]
        .arrowDown
          display: inline-block
        .arrowRight
          display: none
      .fas
        margin-right: 24px
        display: inline-block
      span, a
        color: #acadb9
      .noteCircle
        width: 18px
        height: auto
        font-size: 12px
        background-color: #5867dd
        border: 1px solid #4b3249
        color: #fafbfe
      &:hover, &:active, &:focus, &:not(:disabled):not(.disabled):active
        background-color: transparent
        border-color: transparent
        box-shadow: none
        color: #acadb9

    .dNone
      display: none
    .footer
      height: 55px
      width: 100%
    aside
      width: 260px
      height: 100vh
      background-color: #242939
      transition: width 0.2s ease
      &.notActive
        width: 70px
      .aside_header
        margin-bottom: 65px
      .card, .card-body
        background-color: inherit
        padding: 1px
        border: none
        margin: 0
        a
        color: #acadb9
      nav
        width: 100%
        height: calc(100% - 55px)
        padding: 28px 28px 0 25px
        overflow-y: auto
        h4
          color: #fcfcfc
          font-size: 20px
        .burger
          width: 25px
          display: flex
          flex-direction: column
          align-items: flex-end
          justify-content: flex-end
          span
            display: block
            height: 2px
            margin-bottom: 6px
            background-color: #474f68
            width: 25px
            transition: width 0.5s ease
            &:first-child
              width: 13px
            &:last-child
              margin-bottom: 0
              width: 19px
          &:hover
            span
              &:first-child, &:last-child
              width: 25px

      .blue
        background-color: #1f2232
    .dashboard
      width: calc(100vw - 260px)
      transition: width 0.2s ease
      &.notActive
        width: calc(100vw - 70px)
      header
          height: 75px
          width: 100%
          ul
            color: #b2b9d0
            li
              height: 30px
              color: #b2b9d0
              display: flex
              flex-direction: column
              align-items: center
              justify-content: center
              margin-right: 30px
              .note
                position: relative
                &:before
                  content: ''
                  position: absolute
                  background-color: #5b74ff
                  border-radius: 50%
                  width: 4px
                  height: 4px
                  top: -10px
                  left: 38%
              form.search
                height: 100%
                width: 230px
                #searchSubmit, #search
                  top: 0
                  right: 0
                  box-sizing: border-box
                  object-fit: contain
                  border: 1px solid #b2b9d0
                  border-radius: 3px
                  height: 100%
                  color: #b2b9d0
                #searchSubmit
                  background-color: transparent
                  border: none
            figure
              padding: 0
              margin: 0
              width: 24px
              height: 24px
              overflow: hidden
              border-radius: 50%
              display: flex
              align-items: center
              img
                height: 28px
                width: 28px
          .user-profile
            margin-left: 30px
            color: #757485
            figure
              padding: 0
              margin: 0  0 0 15px
              width: 45px
              height: 45px
              overflow: hidden
              border-radius: 50%
              display: flex
              align-items: center
      main
          width: 100%
          height: calc(100vh - 130px)
          .breadcrumbSection
            h5
              font-size: 18px
              color: #333
            ol
              color: #a0a8c5
              font-weight: bold
              margin-left: 12px
              font-size: 15px
              .breadcrumb-item
                &:before
                  content: ''
                  width: 4px
                  height: 4px
                  border-radius: 50%
                  background-color: #a0a8c5
                  padding-right: 0
                  margin-bottom: 3px
                  margin-right: 6px
            &_calendar
              background-color: #5867dd
              color: #a3abec
              width: 145px
          .wizard
            width: 100%
            height: 60vh

