<template>
    <div class="bg-white shadow-sm rounded wizard px-4">
        <form-wizard @on-complete="onComplete"
                     color="gray"
                     error-color="#a94442"
        >

            <tab-content title="Create New Account"
                         icon="" :before-change="validateFirstTab">
                <h3> Create New Account </h3>
                <vue-form-generator :model="model"
                                    :schema="firstTabSchema"
                                    :options="formOptions"
                                    ref="firstTabForm"
                >

                </vue-form-generator>
            </tab-content>
            <tab-content title="Setup Your Profile"
                         icon="" :before-change="validateSecondTab">
                <h3> Setup Your Profile </h3>
                <vue-form-generator :model="model"
                                    :schema="secondTabSchema"
                                    :options="formOptions"
                                    ref="secondTabForm"
                >
                </vue-form-generator>
                <h3> Mailing Address </h3>
                <vue-form-generator :model="model"
                                    :schema="thirdTabSchema"
                                    :options="formOptions"
                                    ref="secondTabForm"
                >
                </vue-form-generator>

            </tab-content>
            <tab-content title="Setup Your Business Details"
                         icon="">
                <h3> Setup Your Business Details </h3>

            </tab-content>
            <tab-content title="Setup Billing Account"
                         icon="" >
                <h3> Setup Billing Account </h3>


            </tab-content>
            <tab-content title="Finalize Your Purchase"
                         icon="">
                <h3> Finalize Your Purchase </h3>

            </tab-content>
        </form-wizard>

    </div>
</template>

<script>
    import Vue from 'vue'
    import VueFormGenerator from 'vue-form-generator'
    import 'vue-form-generator/dist/vfg.css'
    Vue.use(VueFormGenerator)
    export default {
        name: "AppWizard",
        data() {
            return {
                model: {
                    username: '',
                    password: '',
                    email: '',
                    name: '',
                    contact: '',
                    address: '',
                    address1: '',
                    zip: '',
                    city: '',
                    state: '',
                    country: ''
                },
                formOptions: {
                    validationErrorClass: "has-error",
                    validationSuccessClass: "has-success",
                    validateAfterChanged: true
                },
                firstTabSchema: {
                    fields: [{
                        type: "input",
                        inputType: "text",
                        label: "Username",
                        model: "username",
                        required: true,
                        validator: VueFormGenerator.validators.string,
                        styleClasses: 'col-6',
                        placeholder: 'username',
                        hint: 'Please enter your username',

                    },
                        {
                            type: "input",
                            inputType: "password",
                            label: "Password",
                            model: "password",
                            required: true,
                            min: 6,
                            hint: 'Enter your password. Minimum 6 characters long',
                            validator: VueFormGenerator.validators.string,
                            styleClasses: 'col-6',
                            placeholder: 'Enter your password'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Email address",
                            model: "email",
                            required: true,
                            validator: VueFormGenerator.validators.email,
                            styleClasses: 'col-6',
                            placeholder: 'username@email.com',
                            hint: 'We will never share your email with anyone else',
                        }
                    ]
                },
                secondTabSchema: {
                    fields: [
                        {
                            type: "input",
                            inputType: "text",
                            label: "Name",
                            model: "name",
                            required: true,
                            validator: VueFormGenerator.validators.string,
                            styleClasses: 'col-6',
                            placeholder: 'Nick Strong',
                            hint: 'Please Enter your full name',
                        },
                        {
                            type: "input",
                            inputType: "number",
                            label: "Contact",
                            model: "contact",
                            required: true,
                            validator: VueFormGenerator.validators.number,
                            styleClasses: 'col-6',
                            placeholder: '1-541-753-3100',
                            hint: 'Please Enter your contact number',
                        },
                    ]
                },
                thirdTabSchema: {
                    fields: [
                        {
                            type: "input",
                            inputType: "text",
                            label: "Address line1",
                            model: "address",
                            required: true,
                            validator: VueFormGenerator.validators.string,
                            styleClasses: 'col-6',
                            placeholder: 'Address 1',
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Address line2",
                            model: "address1",
                            required: true,
                            validator: VueFormGenerator.validators.string,
                            styleClasses: 'col-6',
                            placeholder: 'Address 2',
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "City",
                            model: "city",
                            required: true,
                            validator: VueFormGenerator.validators.string,
                            styleClasses: 'col-6',
                            placeholder: 'City',
                        },
                        {
                            type: "input",
                            inputType: "number",
                            label: "Zip Code",
                            model: "zip",
                            required: true,
                            validator: VueFormGenerator.validators.number,
                            styleClasses: 'col-6',
                            placeholder: 'Zip Code',
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "State",
                            model: "state",
                            required: true,
                            validator: VueFormGenerator.validators.string,
                            styleClasses: 'col-6',
                            placeholder: 'State',
                        },
                        {
                            type: "select",
                            label: "Country",
                            model: "country",
                            required: true,
                            validator: VueFormGenerator.validators.string,
                            values: ['United Kingdom', 'USA', 'Georgia'],
                            styleClasses: 'col-6',
                        },
                    ]
                }
            }
        },
        methods: {

            onComplete: function(){

            },
            validateFirstTab: function(){
                return this.$refs.firstTabForm.validate();
            },
            validateSecondTab: function(){
                return this.$refs.secondTabForm.validate();
            },
            validateThirdTab: function(){
                return this.$refs.thirdTabForm.validate();
            },


        },
        watch: {

        }

    }
</script>
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .vue-form-wizard.md li:not(.active) a:not(.disabled) .wizard-icon-circle{
        background-color: #00cdb7!important;
    }
    .vue-form-wizard.md li:not(.active) a:not(.disabled) .stepTitle{
        color: #00cdb7!important;
    }
    .errors{
        display: none!important;
    }
    .help-block{
        display: none!important;
    }
    .help-block span{
        display: none;
    }
    h3{
        color: #4e5472;
        font-size: 16px!important;
        margin-bottom: 35px;
        padding-left: 15px;
    }
    .form-group.required>label:after {
    display: none;
    }

    .vue-form-wizard {
        padding-bottom: 0!important;
        height: 100%;
    }
    .vue-form-wizard .wizard-tab-content {
        padding: 15px 20px 10px!important;
        width: 67.9%!important;
    }
    
    .wizard-progress-with-circle{
        display: none;
    }
    .vue-form-wizard .wizard-card-footer .wizard-footer-right {
        margin-bottom: 50px!important;
    }
    .form-wizard .wizard-btn {
        background-color: #5867dd;
    }
    .wizard-tab-container{
        height: 100%;
        border-bottom: 1px solid #eeeef3;
    }
    .vue-form-wizard .wizard-nav-pills {

        width: 332px;
        border-right: 1px solid #eeeef3;
        padding: 50px 50px 0 0;
    }
    .wizard-card-footer{
        margin-left: 330px;
        border-left: 1px solid #eeeef3;
    }
    .vue-form-wizard .wizard-nav-pills li.active .wizard-icon-circle .wizard-icon-container{
        width: 35px!important;
        height: 35px!important;
        font-size: 12px!important;
        background-color: #4f76f2!important;
        border: 0!important;
        border-radius: 50%!important;
        color: #fff;
    }
    .stepTitle{
        font-size: 14px;
        font-weight: bold;
        color: #918da9;
        margin-left: 14px;
    }
    .stepTitle.active{
        color: #4f76f2!important;
    }
    .vue-form-wizard .wizard-nav-pills li{
        margin-bottom: 22px;
    }
    .vue-form-wizard .wizard-nav-pills li a{
        display: flex!important;
        flex-direction: row!important;
    }
    .vue-form-wizard.md .wizard-nav-pills>li.active>a .wizard-icon {
        font-size: 12px!important;
    }
    .vue-form-wizard.md .wizard-icon-circle {
        width: 35px!important;
        height: 35px!important;
        font-size: 12px!important;
        background-color: #d1d0e0;
        border: 0!important;
        border-radius: 50%!important;
        color: #fff;
    }
    .wizard-navigation{
        display: flex;
        flex-direction: row;
    }
    .wizard-nav{
        display: flex;
        flex-direction: column;
    }
    .wizard-header{
        display: none;
    }
    .wizard{
        overflow-y: auto;
    }
    .wizard::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .wizard::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    .wizard::-webkit-scrollbar-thumb
    {
        background-color: #918da9;
    }
    .form-group label{
        color: #7178a5;
        font-weight: bold;
        font-size: 12px;
    }
    .hint{
        font-style: normal!important;
        color: #acb4cd;
        font-size: 10px;
    }
    .vue-form-generator .form-control {
        border: 1px solid #eff0f4;
        box-shadow: none;
        color: #575962;
    }
    .form-group.has-error .form-control {
        border: 1px solid darkred;

    }
    .form-group.has-error label, .form-group.has-error .hint{
        color: darkred;
    }
    .wizard-btn {
         background-color: #5867dd!important;
         border-color: #5867dd!important;
     }
    .wizard-footer-left .wizard-btn {
        background-color: transparent!important;
        border-color: #dbe6e4!important;
        color: #3d3b56!important;
    }
</style>


